/.vs/SocketPluginDemo/v15/.suo
/.vs/SocketPluginDemo/v16/.suo
/.vs/SocketPluginDemo/v16/Browse.VC.db
/.vs/SocketPluginDemo/v16/Browse.VC.db-shm
/.vs/SocketPluginDemo/v16/Browse.VC.db-wal
/.vs/SocketPluginDemo/v16/Browse.VC.opendb
/.vs/SocketPluginDemo/v16/Solution.VC.db
/.vs/SocketPluginDemo/v16/Solution.VC.db-shm
/.vs/SocketPluginDemo/v16/Solution.VC.db-wal
/.vs/SocketPluginDemo/v16/ipch/AutoPCH/67cc92bae8b8481a/SOCKETPLUGINDEMOGAMEMODEBASE.ipch
/.vs/SocketPluginDemo/v16/ipch/AutoPCH/8f8e1c5a341f29db/WINDOWSPLATFORMSPLASH.ipch
/.vs/SocketPluginDemo/v16/ipch/AutoPCH/fe3fd1dfe5196b5f/SOCKETOBJECT.ipch
/Binaries/Win64/SocketPluginDemoEditor.target
/Binaries/Win64/UE4Editor-SocketPluginDemo-0001.dll
/Binaries/Win64/UE4Editor-SocketPluginDemo-0001.pdb
/Binaries/Win64/UE4Editor-SocketPluginDemo-0002.pdb
/Binaries/Win64/UE4Editor-SocketPluginDemo-0003.pdb
/Binaries/Win64/UE4Editor-SocketPluginDemo-0004.pdb
/Binaries/Win64/UE4Editor-SocketPluginDemo.dll
/Binaries/Win64/UE4Editor-SocketPluginDemo.pdb
/Binaries/Win64/UE4Editor.modules
/Content/NewWidgetBlueprint.uasset
/Intermediate/AssetRegistryCache/089bc3de.bin
/Intermediate/AssetRegistryCache/09b713d3.bin
/Intermediate/AssetRegistryCache/11b06015.bin
/Intermediate/AssetRegistryCache/1f683343.bin
/Intermediate/AssetRegistryCache/218409f6.bin
/Intermediate/AssetRegistryCache/2657c409.bin
/Intermediate/AssetRegistryCache/2ad2a7fd.bin
/Intermediate/AssetRegistryCache/50a675f9.bin
/Intermediate/AssetRegistryCache/52ed2538.bin
/Intermediate/AssetRegistryCache/58fb7916.bin
/Intermediate/AssetRegistryCache/6bead350.bin
/Intermediate/AssetRegistryCache/7b241018.bin
/Intermediate/AssetRegistryCache/866581fd.bin
/Intermediate/AssetRegistryCache/8c0e1344.bin
/Intermediate/AssetRegistryCache/8e9331e2.bin
/Intermediate/AssetRegistryCache/9c1a1723.bin
/Intermediate/AssetRegistryCache/a02d411d.bin
/Intermediate/AssetRegistryCache/a2929b87.bin
/Intermediate/AssetRegistryCache/cc8b2eeb.bin
/Intermediate/AssetRegistryCache/d63b3057.bin
/Intermediate/AssetRegistryCache/d859983c.bin
/Intermediate/AssetRegistryCache/db6fd95f.bin
/Intermediate/AssetRegistryCache/f0d5030c.bin
/Intermediate/Build/BuildRules/SocketPluginDemoModuleRules.dll
/Intermediate/Build/BuildRules/SocketPluginDemoModuleRules.pdb
/Intermediate/Build/BuildRules/SocketPluginDemoModuleRulesManifest.json
/Intermediate/Build/SourceFileCache.bin
/Intermediate/Build/Unused/SocketPluginDemo.log
/Intermediate/Build/Win64/ActionHistory.bin
/Intermediate/Build/Win64/SocketPluginDemoEditor/Development/ActionHistory.bin
/Intermediate/Build/Win64/SocketPluginDemoEditor/Development/DependencyCache.bin
/Intermediate/Build/Win64/SocketPluginDemoEditor/Development/Engine/SharedPCH.Engine.cpp
/Intermediate/Build/Win64/SocketPluginDemoEditor/Development/Engine/SharedPCH.Engine.h
/Intermediate/Build/Win64/SocketPluginDemoEditor/Development/Engine/SharedPCH.Engine.h.obj
/Intermediate/Build/Win64/SocketPluginDemoEditor/Development/Engine/SharedPCH.Engine.h.pch
/Intermediate/Build/Win64/SocketPluginDemoEditor/Development/Engine/SharedPCH.Engine.h.pch.response
/Intermediate/Build/Win64/SocketPluginDemoEditor/Development/Engine/SharedPCH.Engine.h.txt
/Intermediate/Build/Win64/SocketPluginDemoEditor/Development/HotReload.state
/Intermediate/Build/Win64/SocketPluginDemoEditor/Development/Makefile.bin
/Intermediate/Build/Win64/SocketPluginDemoEditor/Development/Metadata-HotReload.dat
/Intermediate/Build/Win64/SocketPluginDemoEditor/Development/Metadata.dat
/Intermediate/Build/Win64/SocketPluginDemoEditor/Development/SocketPluginDemoEditor.deps
/Intermediate/Build/Win64/SocketPluginDemoEditor/Development/SocketPluginDemoEditor.uhtmanifest
/Intermediate/Build/Win64/SocketPluginDemoEditor/Development/SocketPluginDemoEditor.uhtpath
/Intermediate/Build/Win64/UE4Editor/Development/ActionHistory.bin
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/Default.rc2.res
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/Definitions.SocketPluginDemo.h
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/LiveCodingInfo.json
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/SocketPluginDemo.cpp.obj
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/SocketPluginDemo.cpp.obj.response
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/SocketPluginDemo.cpp.txt
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/SocketPluginDemo.init.gen.cpp.obj
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/SocketPluginDemo.init.gen.cpp.obj.response
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/SocketPluginDemo.init.gen.cpp.txt
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/SocketPluginDemoGameModeBase.cpp.obj
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/SocketPluginDemoGameModeBase.cpp.obj.response
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/SocketPluginDemoGameModeBase.cpp.txt
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/SocketPluginDemoGameModeBase.gen.cpp.obj
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/SocketPluginDemoGameModeBase.gen.cpp.obj.response
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/SocketPluginDemoGameModeBase.gen.cpp.txt
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/UE4Editor-SocketPluginDemo-0001.dll.response
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/UE4Editor-SocketPluginDemo-0001.exp
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/UE4Editor-SocketPluginDemo-0001.lib
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/UE4Editor-SocketPluginDemo-0001.lib.response
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/UE4Editor-SocketPluginDemo-0001.suppressed.exp
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/UE4Editor-SocketPluginDemo-0001.suppressed.lib
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/UE4Editor-SocketPluginDemo-0002.dll.response
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/UE4Editor-SocketPluginDemo-0002.exp
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/UE4Editor-SocketPluginDemo-0002.lib.response
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/UE4Editor-SocketPluginDemo-0002.suppressed.exp
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/UE4Editor-SocketPluginDemo-0002.suppressed.lib
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/UE4Editor-SocketPluginDemo-0003.dll.response
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/UE4Editor-SocketPluginDemo-0003.exp
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/UE4Editor-SocketPluginDemo-0003.lib.response
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/UE4Editor-SocketPluginDemo-0003.suppressed.exp
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/UE4Editor-SocketPluginDemo-0003.suppressed.lib
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/UE4Editor-SocketPluginDemo-0004.dll.response
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/UE4Editor-SocketPluginDemo-0004.exp
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/UE4Editor-SocketPluginDemo-0004.lib.response
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/UE4Editor-SocketPluginDemo-0004.suppressed.exp
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/UE4Editor-SocketPluginDemo-0004.suppressed.lib
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/UE4Editor-SocketPluginDemo.dll.response
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/UE4Editor-SocketPluginDemo.exp
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/UE4Editor-SocketPluginDemo.lib
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/UE4Editor-SocketPluginDemo.lib.response
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/UE4Editor-SocketPluginDemo.suppressed.exp
/Intermediate/Build/Win64/UE4Editor/Development/SocketPluginDemo/UE4Editor-SocketPluginDemo.suppressed.lib
/Intermediate/Build/Win64/UE4Editor/Inc/SocketPluginDemo/SocketPluginDemo.init.gen.cpp
/Intermediate/Build/Win64/UE4Editor/Inc/SocketPluginDemo/SocketPluginDemoClasses.h
/Intermediate/Build/Win64/UE4Editor/Inc/SocketPluginDemo/SocketPluginDemoGameModeBase.gen.cpp
/Intermediate/Build/Win64/UE4Editor/Inc/SocketPluginDemo/SocketPluginDemoGameModeBase.generated.h
/Intermediate/Build/Win64/UE4Editor/Inc/SocketPluginDemo/Timestamp
/Intermediate/CachedAssetRegistry.bin
/Intermediate/Config/CoalescedSourceConfigs/Crypto.ini
/Intermediate/Config/CoalescedSourceConfigs/Encryption.ini
/Intermediate/Config/CoalescedSourceConfigs/GameUserSettings.ini
/Intermediate/Config/CoalescedSourceConfigs/InternationalizationExport.ini
/Intermediate/Config/CoalescedSourceConfigs/LocalizationServiceSettings.ini
/Intermediate/Config/CoalescedSourceConfigs/SourceControlSettings.ini
/Intermediate/Config/CoalescedSourceConfigs/TranslationPickerSettings.ini
/Intermediate/Config/CoalescedSourceConfigs/UnrealInsightsSettings.ini
/Intermediate/ProjectFiles/SocketPluginDemo.vcxproj
/Intermediate/ProjectFiles/SocketPluginDemo.vcxproj.filters
/Intermediate/ProjectFiles/SocketPluginDemo.vcxproj.user
/Intermediate/ProjectFiles/UE4.vcxproj
/Intermediate/ProjectFiles/UE4.vcxproj.filters
/Intermediate/ProjectFiles/UE4.vcxproj.user
/Intermediate/ReimportCache/3688439234.bin
/Intermediate/TargetInfo.json
/Plugins/SimpleTCPCS/Binaries/Win64/UE4Editor-SimpleTCPCS-0002.pdb
/Plugins/SimpleTCPCS/Binaries/Win64/UE4Editor-SimpleTCPCS.dll
/Plugins/SimpleTCPCS/Binaries/Win64/UE4Editor-SimpleTCPCS.pdb
/Plugins/SimpleTCPCS/Binaries/Win64/UE4Editor.modules
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/Default.rc2.res
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/Definitions.SimpleTCPCS.h
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/LiveCodingInfo.json
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/Module.SimpleTCPCS.cpp
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/Module.SimpleTCPCS.cpp.obj
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/Module.SimpleTCPCS.cpp.obj.response
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/Module.SimpleTCPCS.cpp.old
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/Module.SimpleTCPCS.cpp.txt.tmp
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/Module.SimpleTCPCS.gen.cpp
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/Module.SimpleTCPCS.gen.cpp.obj
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/Module.SimpleTCPCS.gen.cpp.obj.response
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/Module.SimpleTCPCS.gen.cpp.txt.tmp
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/SocketObject.cpp.obj
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/SocketObject.cpp.obj.response
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/SocketObject.cpp.txt
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/SocketRSThread.cpp.obj
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/SocketRSThread.cpp.obj.response
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/SocketRSThread.cpp.txt.tmp
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/UE4Editor-SimpleTCPCS-0001.dll.response
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/UE4Editor-SimpleTCPCS-0001.exp
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/UE4Editor-SimpleTCPCS-0001.lib.response
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/UE4Editor-SimpleTCPCS-0001.suppressed.exp
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/UE4Editor-SimpleTCPCS-0001.suppressed.lib
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/UE4Editor-SimpleTCPCS-0002.dll.response
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/UE4Editor-SimpleTCPCS-0002.exp
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/UE4Editor-SimpleTCPCS-0002.lib.response
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/UE4Editor-SimpleTCPCS-0002.suppressed.exp
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/UE4Editor-SimpleTCPCS-0002.suppressed.lib
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/UE4Editor-SimpleTCPCS-0003.dll.response
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/UE4Editor-SimpleTCPCS-0003.lib.response
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/UE4Editor-SimpleTCPCS-0004.dll.response
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/UE4Editor-SimpleTCPCS-0004.lib.response
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/UE4Editor-SimpleTCPCS.dll.response
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/UE4Editor-SimpleTCPCS.dll.response.old
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/UE4Editor-SimpleTCPCS.exp
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/UE4Editor-SimpleTCPCS.lib
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/UE4Editor-SimpleTCPCS.lib.response
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/UE4Editor-SimpleTCPCS.lib.response.old
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/UE4Editor-SimpleTCPCS.suppressed.exp
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Development/SimpleTCPCS/UE4Editor-SimpleTCPCS.suppressed.lib
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Inc/SimpleTCPCS/SimpleTCPCS.init.gen.cpp
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Inc/SimpleTCPCS/SimpleTCPCSClasses.h
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Inc/SimpleTCPCS/SocketObject.gen.cpp
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Inc/SimpleTCPCS/SocketObject.generated.h
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Inc/SimpleTCPCS/SocketRSThread.gen.cpp
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Inc/SimpleTCPCS/SocketRSThread.generated.h
/Plugins/SimpleTCPCS/Intermediate/Build/Win64/UE4Editor/Inc/SimpleTCPCS/Timestamp
/Saved/AutoScreenshot.png
/Saved/Autosaves/Game/Client_Auto1.uasset
/Saved/Autosaves/Game/Demo_Auto1.umap
/Saved/Autosaves/PackageRestoreData.json
/Saved/Config/CrashReportClient/UE4CC-Windows-0ABE272D4F3AF29C42E747A5D8D07B2F/CrashReportClient.ini
/Saved/Config/CrashReportClient/UE4CC-Windows-18CA28E74B5CDB5FA1BBB09577BA0CE9/CrashReportClient.ini
/Saved/Config/CrashReportClient/UE4CC-Windows-4073E7014405B310954C5FAA29870055/CrashReportClient.ini
/Saved/Config/CrashReportClient/UE4CC-Windows-47FE3B7B4C3D1A94A8D50282AFD869C4/CrashReportClient.ini
/Saved/Config/CrashReportClient/UE4CC-Windows-5BF4B3B447A9195F7824D3804C1E5484/CrashReportClient.ini
/Saved/Config/CrashReportClient/UE4CC-Windows-6C3B4249431247D57DDDCA958C6F7C24/CrashReportClient.ini
/Saved/Config/CrashReportClient/UE4CC-Windows-792EB93E4B3A758E34B13294D7B622E8/CrashReportClient.ini
/Saved/Config/CrashReportClient/UE4CC-Windows-8CAFFFE34995ADBC3F2435B29486C5E8/CrashReportClient.ini
/Saved/Config/CrashReportClient/UE4CC-Windows-8E05C4184E711CA76D0E17B3CB84B0F2/CrashReportClient.ini
/Saved/Config/CrashReportClient/UE4CC-Windows-8E19006E4542A98ECC9403999691EAFE/CrashReportClient.ini
/Saved/Config/CrashReportClient/UE4CC-Windows-AFA3BCCE4A74788405D08F9A6C288568/CrashReportClient.ini
/Saved/Config/CrashReportClient/UE4CC-Windows-AFF51B364ABB5665FBD4BAA2B44A9B22/CrashReportClient.ini
/Saved/Config/CrashReportClient/UE4CC-Windows-B2ED23124E8DE2A41E6CAD86350BF532/CrashReportClient.ini
/Saved/Config/CrashReportClient/UE4CC-Windows-B3D1502844418604F75BF69C25488273/CrashReportClient.ini
/Saved/Config/CrashReportClient/UE4CC-Windows-E67FED624D60C57588844685D724C68D/CrashReportClient.ini
/Saved/Config/CrashReportClient/UE4CC-Windows-FE228AB04EB7E39979F9F3BBA10C4318/CrashReportClient.ini
/Saved/Config/Windows/Compat.ini
/Saved/Config/Windows/DeviceProfiles.ini
/Saved/Config/Windows/Editor.ini
/Saved/Config/Windows/EditorPerProjectUserSettings.ini
/Saved/Config/Windows/Engine.ini
/Saved/Config/Windows/Game.ini
/Saved/Config/Windows/GameUserSettings.ini
/Saved/Config/Windows/Hardware.ini
/Saved/Config/Windows/Input.ini
/Saved/Config/Windows/Lightmass.ini
/Saved/Config/Windows/MagicLeap.ini
/Saved/Config/Windows/MagicLeapLightEstimation.ini
/Saved/Config/Windows/MotoSynth.ini
/Saved/Config/Windows/Niagara.ini
/Saved/Config/Windows/OculusVR.ini
/Saved/Config/Windows/Paper2D.ini
/Saved/Config/Windows/PhysXVehicles.ini
/Saved/Config/Windows/PostSplashScreen.ini
/Saved/Config/Windows/RuntimeOptions.ini
/Saved/Config/Windows/Scalability.ini
/Saved/Config/Windows/Synthesis.ini
/Saved/Config/Windows/UnrealInsightsSettings.ini
/Saved/Config/Windows/VariantManagerContent.ini
/Saved/Config/WorldState/1316711370.json
/Saved/Logs/SocketPluginDemo-backup-2022.08.31-03.21.57.log
/Saved/Logs/SocketPluginDemo-backup-2022.08.31-03.29.27.log
/Saved/Logs/SocketPluginDemo-backup-2022.08.31-03.32.56.log
/Saved/Logs/SocketPluginDemo-backup-2022.08.31-06.32.13.log
/Saved/Logs/SocketPluginDemo-backup-2022.08.31-06.51.00.log
/Saved/Logs/SocketPluginDemo-backup-2022.08.31-06.55.35.log
/Saved/Logs/SocketPluginDemo-backup-2022.08.31-07.00.29.log
/Saved/Logs/SocketPluginDemo-backup-2022.08.31-07.02.16.log
/Saved/Logs/SocketPluginDemo-backup-2022.08.31-07.28.19.log
/Saved/Logs/SocketPluginDemo-backup-2022.08.31-08.14.27.log
/Saved/Logs/SocketPluginDemo.log
/Saved/Logs/SocketPluginDemo_2-backup-2022.08.31-03.13.38.log
/Saved/Logs/SocketPluginDemo_2.log
/Saved/Logs/UnrealVersionSelector-2022.08.31-10.14.23.log
